<h3 style="margin-bottom:25px; margin-top:15px">View Customer Details</h3>
<div>
    <div>
        <label><b>Customer ID :  </b></label>   {{customer.customerID}}
    </div>
    <div>
        <label><b>Customer Name :  </b></label>   {{customer.customerName}}
    </div>
    <div>
        <label><b>Customer Email :  </b></label>   {{customer.customerEmail}}
    </div>
    <div>
        <label><b>Customer Address :  </b></label>   {{customer.customerAddress}}
    </div>
    <div>
        <label><b>Customer Phone Number :  </b></label>   {{customer.customerNumber}}
    </div>
    <div>
    <button type="submit" class="btn btn-info" routerLink="/customer" style="margin-top:15px">Back to customer list</button>
</div>
</div>