<h3 style="margin-bottom:25px; margin-top:15px">View Product Details</h3>
<div>
    <div>
        <label><b>Seller ID :  </b></label>   {{seller.sellerID}}
    </div>
    <div>
        <label><b>Seller Name :  </b></label>   {{seller.sellerName}}
    </div>
    <div>
        <label><b>Product ID :  </b></label>   {{seller.productID}}
    </div>
    <div>
        <label><b>Product Name :  </b></label>   {{seller.productName}}
    </div>
    <div>
        <label><b>Product Description :  </b></label>   {{seller.productDescription}}
    </div>
    <div>
        <label><b>Product Start Amount :  </b></label>   {{seller.productStartamt}}
    </div>
    <div>
        <label><b>Product Price :  </b></label>   {{seller.productPrice}}
    </div>
    <div>
        <label><b>Product Bidding Date :  </b></label>   {{seller.productBiddingdate}}
    </div>
    <div>
        <label><b>Product Category :  </b></label>   {{seller.productCategory}}
    </div>
    <div>
    <button type="submit" class="btn btn-info" routerLink="/product" style="margin-top:15px">Back to product list</button>
</div>
</div>