<body>

  <nav class="navbar navbar-expand-lg header navbar-dark">
  <a class="navbar-brand">Online Auction</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="seller" routerLinkActive="active" class="nav-link">Seller List</a>
      </li>
      <li class="nav-item">
        <a routerLink="product" routerLinkActive="active" class="nav-link">Product List</a>
      </li>
      <li class="nav-item">
        <a routerLink="customer" routerLinkActive="active" class="nav-link">Customer List</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="insert-seller" routerLinkActive="active" class="nav-link">Register Seller</a>
      </li> -->
  </ul>
  
  </div>
  <button class="nav-item btn btn-info" style=" color:white;margin-right:10px;" routerLink="/insert-seller">Register Seller</button>

      <button class="nav-item btn btn-info"  style=" color:white;margin-right:10px; " routerLink="/insert-customer">Register Customer</button>
</nav>

<div class="container">
<router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2022 @Purneet</span>
  </div>
</footer>

</body>