<h3 style="margin-bottom:15px; margin-top:15px">View Seller Details</h3>
<div>
    <div>
        <label><b>Seller ID :  </b></label>   {{seller.sellerID}}
    </div>
    <div>
        <label><b>Seller Name :  </b></label>   {{seller.sellerName}}
    </div>
    <div>
        <label><b>Seller Email :  </b></label>   {{seller.sellerEmail}}
    </div>
    <div>
        <label><b>Seller Address :  </b></label>   {{seller.sellerAddress}}
    </div>
    <div>
        <label><b>Seller Phone number :  </b></label>   {{seller.sellerNumber}}
    </div>
    <div>
    <button type="submit" class="btn btn-success" routerLink="/seller" style="margin-top:15px">Back to seller list</button>
</div>
</div>